html{
    html {
  scrollbar-gutter: stable;
}
}
:root {
    font-family: "Nunito", sans-serif;
}
body {
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px 0;
}
button{
    user-select: none;
    cursor: pointer;
}
.container{
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*  Estilos del Encabezado principal     */
.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3374ff;
    border-top-left-radius: 20px;
    border-top-Right-radius: 20px;
}

.header__title{
    color: #fff;
}

.header__icon{
    color: rgb(129, 233, 126);
    font-size: 28px;
    margin-right: 10px;
}

/*  Estilos del Contenido principal     */
.main{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background: #fafafa;
    border-bottom-left-radius: 20px;
    border-bottom-Right-radius: 20px;
    position: relative;
}
/*Main navegador*/
.main__nav-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.main__nav-button{
    padding: 5px 7px;
    background-color: rgb(51, 116, 255);
    border: none;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.btnAddNote{
    padding: 5px 7px;
    background-color: rgb(51, 116, 255);
    border: none;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.main__nav-button-icon{
    font-size: 30px;
    color: #81e97e;
}
.main__nav-input{
    width: 50vw;
    padding: 10px 20px;
    font-size: 20px;
    flex: 1;
    border-radius: 10px;
    border: 1px solid #767676;
}
.main__nav-input:focus{
    outline: none;
}
.main__nav-container-order{
    min-width: 100px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
}
.main__nav-container-order:focus{
    border: none;
    outline: none;
}
.main__nav-button-order{
    padding: 12px;
    border: none;
    background-color: inherit;
    color: #fff;
    background-color: rgb(51, 116, 255);
    border-radius: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    z-index: 2;
}

.fa-angle-down-animation{
    transform: rotate(180deg);
    color: #81e97e;
}

.fa-angle-down{
    transition-duration: .5s;
}

.main__nav__order__menu{
    display: none;
    width: 100%;
    position: absolute;
    background: #3374ff;
    flex-direction: column;
    align-items: flex-end;
    top: 25px;
    right: 0px;
    padding-top: 15px;
    z-index: 1;
    border-bottom-left-radius: 5px;
    border-bottom-Right-radius: 5px;
}

.main__nav__order__menu button{
    width: 100%;
    padding: 4px 0;
    border: none;
    background: none;
    color: #ffff;
}
.main__nav__order__menu button:hover{
    background: #1251da;
    
}

.orderSelected{
    background: #81e97e;
}
/*Main Notas*/
.main__notes-container{
    min-height: 65vh;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.msjNoTasks{
  font-size: clamp(1rem, 2.5vw, 1.5rem); /* Se ajusta entre 1rem y 1.5rem según el viewport */
  color: #767676;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  transition: font-size 0.3s ease;
}

.main__note{
    width: 95%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    overflow: visible;
    margin: 5px 0;
}

.main__notes-container-note{
    background-color: #edeff7;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    padding: 0 15px;
    position: relative;
    box-shadow: 2px 4px 2px 0px #8c97c0;
    border: none;
    transition: .4s;
    z-index: 3 !important;
}

.main__notes-container-note:hover{
    transform: translateY(-5px);
}

.is-active{
    transform: translateY(-5px);
}
.main__note-checkbox{
    transform: scale(2.1);
    margin: 0 20px 0 13px;
    cursor: pointer;
}
.main__note-checkbox:checked{
    color: rgb(51, 116, 255);
}
.main__note.checked .main__note-text{
    text-decoration: line-through;
    opacity: .6;
}
.main__note.checked .main__notes-container-note{
    filter: brightness(.8);
}
.main__note-text{
    width: 0px;
    flex: 1;
    word-wrap: break-word;
    cursor: pointer;
    padding: 10px 0;
}

.main__note-description {
    overflow: hidden;
    transition: max-height .5s, padding .4s, opacity .3s, margin-top .4s;
    padding: 0 50px;
    background: #5c8cf5;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    opacity: 0;
    color: #fff;
    max-height: 0px;
}

.main__note-description--visible{
    padding: 50px 50px 20px;
    opacity: 1;
    margin-top: -20px;
}

.main__note-description p{
    color: #fff;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-line;
    line-height: 1.5;
    margin-top: 10px;
}

.main__note-description-datePriority-container{
    display: flex;
    gap: 50px;
}

.main__note__btnFormContainer{
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
}

.main__note__btnFormContainer button{
    border: none;
    border-radius: 10px;
}

.main__note__btnFormContainer button:hover{
    filter: brightness(.9);
}

.main__note-button{
    font-size: 30px;
    border: none;
    margin: 10px;
    background-color: inherit;
}
.main__note-button-ellipsis{
    user-select: none;
    color: #3374ff;
}
.main__note-actions{
    width: 120px;
    height: 55px;
    display: none;
    position: absolute;
    border-radius: 2px;
    right: -100px;
    transition: right 1s;
    user-select: none;
}
.actions__container-btns{
    display: flex;
    height: 35px;
    max-width: 0;
    background: #edeff7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 0px;
    transform: scaleX(0);
    opacity: 0;
    overflow: hidden;
    transform-origin: left;
    transition: 
        max-width .7s ease, 
        padding-left .7s ease, 
        transform 0.4s ease-in-out, 
        opacity 0.4s ease-in-out;
    z-index: 1;
}
.actions__container-btns:nth-child(2){
    transition-delay: 0.1s;
}
.main__note__actions__button{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.main__note__actions__button:hover{
    color: #3374ff;
}
.main__note__actions__button:hover .action-edit-icon{
    fill: #1251da;
}
.main__note__actions__button:hover .action-delete-icon{
    fill: #1251da;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ---- Formulario Editar Nota */
.note-description-priority{
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.note-description-date{
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
}
.note-edit-description{
    height: 15vh;
    max-height: 35vh;
    background-color: #ffffff;
    border:none;
    border-radius: 5px;
    padding: 10px 20px;
    resize: none;
}
.note-edit-description:focus, 
.note-description-date:focus, 
.note-description-priority:focus{
    outline: none;
}

.main__note__btnForm-cancel, .main__note__btnForm-edit{
    padding: 10px 20px;
    user-select: none;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

/* ---- Estilos para carpetas ---- */
.main__folders-container{
    width:100%;
    display: flex;
    overflow-x: auto;       /* permite scroll horizontal */
    overflow-y: hidden;
    cursor: grab;
    padding: 10px 0;
    margin-bottom: 10px;
}

.folders-container{
    display: flex;
    transition: transform 0.2s ease;
}
.folder{
    min-width: fit-content;
    margin-right: 10px;
    text-align: center;
    font-size: 18px;
    background-color: #edeff7;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    padding: 0 15px;
    position: relative;
    border: none;
    transition: .4s;
    gap: 5px;
    cursor: pointer;
    z-index: 3 !important;
}
.folder-title::first-letter{
    text-transform: uppercase;
}
.fa-folder{
    color: #0d41b1;
    font-size: 25px;
}
.folder:hover .fa-folder{
    color: #2255ee;
    filter: drop-shadow(0px 0px 2px #3374ff);
    transition: .2s;
}

.selected{
    background: #3374ff;
    color: #fff;
}

.btnEliminarCarpeta{
    border: none;
    outline: none;
    background: #000000;
    border-radius: 100%;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnEliminarCarpeta-icon{
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.form-nueva-nota-carpeta{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 35vh;
    position:absolute;
    padding: 10px 40px;
    background-color: #3374ff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 4rem;
    left: 0;
    z-index: 5;
    animation: fadeIn 0.5s ease forwards;
}

/* ---- Formulario de Nueva Nota ----*/
.form-nueva-nota{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 35vh;
    position:absolute;
    padding: 10px 40px;
    background-color: #3374ff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 4rem;
    left: 0;
    z-index: 5;
    animation: fadeIn 0.5s ease forwards;
}
.headerText{
    width: auto;
    color: #fff;
    align-self: center;
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-family: sans-serif;
    font-weight: 300;
    width: 50%;
    text-align: center;
    margin: 10px 0 0 0;
    letter-spacing: .1rem;
    padding-bottom: 2px;
    border-bottom: 3px solid #2253bf;
    border-radius:5px;
}
.form-content-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-nueva-nota label{
    color: #fff;
}
.form-titulo{
    background-color: #ffffff;
    border:none;
    padding: 10px 20px;
    border-radius: 10px;
    user-select: none;
}
.form-titulo:focus{
    border: none;
    outline: none;
}
.form-descripcion{
    height: 15vh;
    max-height: 35vh;
    background-color: #ffffff;
    border:none;
    border-radius: 5px;
    padding: 10px 20px;
    resize: none;
}
.form-descripcion:focus{
    border: none;
    outline: none;
}
.form-footer-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 20px;
}

.form-fecha-prioridad-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding-left: 20px;
}
.form-fecha-container{
    display: inline;
}
.form-fecha{
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
}
.form-fecha:focus{
    border: none;
    outline: none;
}
.form-select-container{
    display: inline;
}
.form-select{
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.form-select:focus{
    outline: none;
    border: none;
}
.form-btns-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.form-btnCarpeta{
    background: #3374ff;
    color: #fff;
    display: flex;
    outline: 1px solid #ffff;
    justify-content: center;
    width: fit-content;
    padding: 10px;
    user-select: none;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    gap: 5px;
}
.form-btns-container button{
    padding: 10px 20px;
    user-select: none;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
.form-btns-container button:hover,
.form-select:hover,
.form-btnCarpeta:hover{
    filter: brightness(.9);
}

/* ---- Formulario Editar Nota ---- */
.note-edit-checkbox{
    transform: scale(2.1);
    margin: 0 13px 0 7px;
}
.note-edit-title{
    width: 0;
    flex: 1;
    border: none;
    padding: 5px 0px 5px 10px;
    border-radius: 10px;
}
.note-edit-button{
    font-size: 30px;
    border: none;
    margin: 10px;
    background-color: inherit;
}
.note-edit-description{
    min-height: 100px;
    width: 100%;
    resize: none;
    margin: 10px 0;
}

.form-nueva-carpeta{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 35vh;
    position:absolute;
    padding: 10px 40px;
    background-color: #3374ff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 4rem;
    left: 0;
    z-index: 5;
    gap: 20px;
    animation: fadeIn 0.5s ease forwards;
}

/*  ---- Estilos para Toast Alert ---- */
.toast__alert-container{
    bottom: 50px;
    position: fixed;
    width: 30vw;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    gap: 5px;
    z-index: 2;
}
.info{
    background-color: rgb(182, 185, 242);
    border: 1px solid rgb(70, 76, 251);
}
.success{
    background-color: rgb(200, 242, 182);
    border: 1px solid rgb(109, 129, 101);
}
.fa-circle-info,
.fa-check{
    font-size: 30px;
    color: #00000061;
}
.toast__btnClose{
    background: none;
    border: none;
    color: #00000061;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toast__btnClose-icon{
    font-size: 25px;
}
.toast__alert-title{
    font-size: 20px;
    text-align: center;
    flex: 1;
    color: #00000061;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilos generales para pantallas entre 768px - 1024px*/
@media (min-width: 769px) and (max-width: 1024px){
    .form-descripcion{
        margin: 10px 0;
    }
}
/* Estilos generales para pantallas menores a 768px (tablets y móviles) */
@media (max-width: 768px) {
    body{
        display: block;
        padding: 0;
    }

    .container {
        width: 100vw;
        border-radius: 15px;
    }
    .header{
        border-radius: 0;
    }
    .main{
        height: 100vh;
    }
    .main__nav-container {
        align-items: stretch;
        gap: 10px;
    }

    .main__nav-input {
        width: 100%;
        font-size: 18px;
    }

    .main__nav-container-order {
        justify-content: flex-end;
    }

    .main__notes-container-note {
        flex-direction: row;
        align-items: center;
        height: auto;
        padding: 10px;
        gap: 10px;
    }

    .main__note-checkbox {
        transform: scale(2);
        margin: 0 15px 0 15px;
    }

    .main__note-text {
        /*width: 100%;*/
        padding: 5px 0;
    }

    .main__note-button {
        align-self: flex-end;
        margin: 0 10px 0 0;
    }

    .main__note-description {
        font-size: 17px;
    }

    .main__note-actions {
        right: 40px;
    }

    .form-nueva-nota {
        height: auto;
        position: absolute;
        top: -4.5rem;
        padding: 20px;
        gap: 20px;
        z-index: 7;
    }

    .form-descripcion {
        height: 25vh;
        font-size: 16px;
    }

    .main__note-description-datePriority-container {
        flex-direction: column;
        gap: 20px;
    }

    .form-footer-container {
        flex-direction: column;
        gap: 20px;
    }

    .form-fecha-prioridad-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        padding-left: 0;
    }

    .form-fecha-container, .form-select-container{
        width: 300px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 38px;
    }

    .form-select-container label, .form-fecha-container label{
        width: 80px;
    }

    .form-select, .form-fecha{
        font-size: 16px;
        width: 150px;
    }

    .form-btns-container {
        flex-direction: column;
        gap: 10px;
    }

    .form-btns-container button {
        width: 100%;
        font-size: 16px;
    }
    }
/* Estilos generales para pantallas menores a */
@media (max-width: 400px) {
    .main__notes-container-note:hover{
        transform: translate(0);
    }
    .main__nav-input {
        font-size: 16px;
    }
    .main__note-actions{
        width: auto;
    }
    .main__note-description--visible{
        padding: 50px 10px 20px;
    }
    .actions__container-btns{
        background: #3374ff;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    .main__note-description {
        font-size: 15px;
    }
    .headerText{
        width: 100%;
    }
    .form-fecha-prioridad-container{
        display: flex;
        align-items: center;
    }
    .form-fecha-container, .form-select-container{
        width: 200px;
        gap: 20px;
    }
    .form-fecha{
        width: 120px;
        padding: 5px 5px;
    }

    .toast__alert-container{
        width: 90%;
    }
}